.App {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}

.english {
  grid-column: 1 / 2;
  padding: 0.5em;
}

.japanese {
  grid-column: 2 / 3;
  padding: 0.5em;
}

.time {
  background-color: gainsboro;
}
#url {
  width: 98%;
  text-align: center;
}

#title {
  font-weight: bold;
  text-align: center;
}
